<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat Service</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Chat Room Service</h1>
    <div class="main">
    <h3 id="message"></h3>
    <label>Pick a nickname</label>&nbsp&nbsp
    <input type="text" name="nickname" placeholder="eg. ahmedhammad97" id="nickname">
    <br /><br /><br /><br />
    <div class="sub">
    <label>Enter room code</label>&nbsp&nbsp
    <input type="text" name="" placeholder="eg. 25165135165165" id="roomCode">
    <br /><br />
    <button type="button" name="button" id="join">Join room</button>
    </div>
    <br /><br />
    <h3>OR</h3>
    <br />
    <button type="button" name="button" id="create">Create a new room</button>
    </div>
    <script src="jquery.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>